@*@model BookInfo.Models.Review*@
@{
    ViewBag.Title = "Review";
}
<h1> Book Review for <i>@ViewBag.BookTitle</i></h1>

<form action="/Review/ReviewForm" method="post">
    <input type="hidden" name="bookId" value=@ViewBag.Id />
    <input name="Body" /> <br />
    <input name="Rating" />
    <button type="submit">Post</button>
</form>
